<div class="row py-4">
  <div class="col-md-6">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="for e.g. kuldeep" #input>
    </mat-form-field>
  </div>
  <div class="col-md-6 pull-right">
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-primary" [routerLink]="['../add']">Add New Person</button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-danger" (click)="clearAllEntries()">Delete All Data</button>
      </div>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email ID</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody cdkDropList (cdkDropListDropped)="drop($event)">
    <tr *ngFor="let item of dataSource" cdkDrag>
      <td>{{item.firstName}}</td>
      <td>{{item.lastName}}</td>
      <td>{{item.email}}</td>
      <td>
        <span class="faIcon">
          <i [routerLink]="['../add']" [queryParams]="{data: item | json}" class="fa fa-pencil fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;
          <i (click)="deletePerson(item.id)" class="fa fa-trash fa-lg" aria-hidden="true"></i>
        </span>
      </td>
    </tr>
    <div class="row" *ngIf="!dataSource || !dataSource.length">
        No data found
    </div>
  </tbody>
</table>


  

  
